{% extends 'base.html.twig'%}

{% block title %} About us {% endblock %}

{% block body %}

    <div class="columns is-mobile">
        <div class="column"> Assumenda earum expedita necessitatibus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis fuga inventore qui sunt totam.
            Architecto asperiores at dolor eius eligendi, enim est labore magnam quia quisquam?
            Assumenda earum expedita necessitatibus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis fuga inventore qui sunt totam.
            Architecto asperiores at dolor eius eligendi, enim est labore magnam quia quisquam?
            Assumenda earum expedita necessitatibus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis fuga inventore qui sunt totam.
            Architecto asperiores at dolor eius eligendi, enim est labore magnam quia quisquam?
            Assumenda earum expedita necessitatibus.
        </div>

        <div class="column"> Assumenda earum expedita necessitatibus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis fuga inventore qui sunt totam.
            Architecto asperiores at dolor eius eligendi, enim est labore magnam quia quisquam?
            Assumenda earum expedita necessitatibus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis fuga inventore qui sunt totam.
            Architecto asperiores at dolor eius eligendi, enim est labore magnam quia quisquam?
            Assumenda earum expedita necessitatibus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis fuga inventore qui sunt totam.
            Architecto asperiores at dolor eius eligendi, enim est labore magnam quia quisquam?
            Assumenda earum expedita necessitatibus.
        </div>
        <div class="column"> Assumenda earum expedita necessitatibus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis fuga inventore qui sunt totam.
            Architecto asperiores at dolor eius eligendi, enim est labore magnam quia quisquam?
            Assumenda earum expedita necessitatibus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis fuga inventore qui sunt totam.
            Architecto asperiores at dolor eius eligendi, enim est labore magnam quia quisquam?
            Assumenda earum expedita necessitatibus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis fuga inventore qui sunt totam.
            Architecto asperiores at dolor eius eligendi, enim est labore magnam quia quisquam?
            Assumenda earum expedita necessitatibus.
        </div>
    </div>

{% endblock %}