<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test</title>
</head>
<body>
<h1>TEST!!</h1>


{#
commentaires
multi-lignes
invisibles !
#}

{% set username = "Ellimaca" %}

{{ username|upper|trim }}

{% if username == "Ellimaca" %}
    <h1>Coucou Ellimaca</h1>
{% else %}
    <h1>T'es qui toi?</h1>
{% endif %}

{% set colors = ["bleu", "rouge", "jaune"] %}

{% for c in colors %}
    <div> {{ c|capitalize }}</div>
{% else %}
    <div>Pas de couleurs ici ! </div>
{% endfor %}

{% for i in 0..10 %}
    <div> {{ i }}</div>
{%  endfor %}

<div>
{{ "+ 1 month "|date("d/m/y") }}
</div>



<h1>Accueil depuis Twig !!! </h1>



</body>
</html>